#container{
	width: 800px;
	height: 500px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	padding: 20px;
	background-color: white;
	align-content: center;
	
}

.axis{
	fill: none;
  	stroke: #000;
  	shape-rendering: crispEdges;
  	font-family: TimesNewRoman;
}

#pad{
	width: 1200px;
	height:50px;
}
.Norway{
	fill: #74a9cf;
}

.Sweden{
	fill: #0570b0;
}

.Finland{
	fill: #fdbb84;
}
.Denmark{
	fill: #ef6548;
}




